# Multiple Return Values for a function 

It's assumed that you know how to define functions and how to pass arguments and return values from  a function

we can return multiple values from defined functions using a tuple 

a tuple is like a list but it's immutable; we can not change its content once it's created

### Tuple creation and assigning values

it's created usin brackets ()

In [1]:
odd_nums = (1,3,5,7,9)
print (odd_nums)

(1, 3, 5, 7, 9)

we can assign valuse from a tuple to variables as follows:

In [2]:
a , b , c , d , e = odd_nums

print(a)
print(b)
print(c)

1
3
5

we can access an element in the tuple using square brackets [] and assign this element's value to another variable

In [3]:
print(odd_nums[2])

x = odd_nums[3] 

print (x)

5
7

 for a function returning only one value like that:

In [4]:
def addition (x,y,z):
    nums_sum = x + y + z 
    return nums_sum

def product (x,y,z):
    nums_product = x * y * z
    return nums_product
    
    
num_1 = 2 
num_2 = 3 
num_3 = 5 

add= addition(num_1, num_2, num_3)
multiply = product(num_1, num_2, num_3)

print(add)
print(multiply)

10
30

We can build a new function that returns the sum and the product of the numbers, by returning the desired multiple results in a tuple

In [5]:
def add_mul (x,y,z):
    nums_sum = x + y + z 
    nums_product = x * y * z
    
    results = (nums_sum, nums_product)
    
    return results

results_tuple = add_mul(num_1, num_2, num_3)

print(results_tuple) # print the returned content
print(type(results_tuple))  # check that the returned value is a tuple

(10, 30)
<class 'tuple'>

#### we can do the same thing with dictionaries in which a function return a dictionary object

In [6]:
def return_dict():
    simple_dict = {
        'ahmed' : 12, 
        'Ali' : 13, 
        'Akram' : 19
    }
    
    return simple_dict

print(return_dict())
print(type(return_dict()))

{'ahmed': 12, 'Ali': 13, 'Akram': 19}
<class 'dict'>