# A Simple Example 

in this example we will try to get some simple insights from a real-worls dataset and then we will put the functionality we built into a function that we can call so many times without the need to define the same functionality again and again

we will try to get simple insights from a twitter dataset 

we are trying to get some some insights about languages used accross the platform

In [14]:
# import pandas 
import pandas as pd 

df = pd.read_csv('D:/MyDrive/DATA SCIENCE/DataCamp/python_toolbox_1/data/tweets.csv')
df.head()

,contributors,coordinates,created_at,entities,extended_entities,favorite_count,favorited,filter_level,geo,id,...,quoted_status_id,quoted_status_id_str,retweet_count,retweeted,retweeted_status,source,text,timestamp_ms,truncated,user
0,NaN,NaN,Tue Mar 29 23:40:17 +0000 2016,"{'hashtags': [], 'user_mentions': [{'screen_na...","{'media': [{'sizes': {'large': {'w': 1024, 'h'...",0,False,low,NaN,714960401759387648,...,NaN,NaN,0,False,"{'retweeted': False, 'text': "".@krollbondratin...","<a href=""http://twitter.com"" rel=""nofollow"">Tw...",RT @bpolitics: .@krollbondrating's Christopher...,1459294817758,False,"{'utc_offset': 3600, 'profile_image_url_https'..."
1,NaN,NaN,Tue Mar 29 23:40:17 +0000 2016,"{'hashtags': [{'text': 'cruzsexscandal', 'indi...","{'media': [{'sizes': {'large': {'w': 500, 'h':...",0,False,low,NaN,714960401977319424,...,NaN,NaN,0,False,"{'retweeted': False, 'text': '@dmartosko Cruz ...","<a href=""http://twitter.com"" rel=""nofollow"">Tw...",RT @HeidiAlpine: @dmartosko Cruz video found.....,1459294817810,False,"{'utc_offset': None, 'profile_image_url_https'..."
2,NaN,NaN,Tue Mar 29 23:40:17 +0000 2016,"{'hashtags': [], 'user_mentions': [], 'symbols...",NaN,0,False,low,NaN,714960402426236928,...,NaN,NaN,0,False,NaN,"<a href=""http://www.facebook.com/twitter"" rel=...",Njihuni me Zonjën Trump !!! | Ekskluzive https...,1459294817917,False,"{'utc_offset': 7200, 'profile_image_url_https'..."
3,NaN,NaN,Tue Mar 29 23:40:17 +0000 2016,"{'hashtags': [], 'user_mentions': [], 'symbols...",NaN,0,False,low,NaN,714960402367561730,...,7.149239e+17,7.149239e+17,0,False,NaN,"<a href=""http://twitter.com/download/android"" ...",Your an idiot she shouldn't have tried to grab...,1459294817903,False,"{'utc_offset': None, 'profile_image_url_https'..."
4,NaN,NaN,Tue Mar 29 23:40:17 +0000 2016,"{'hashtags': [], 'user_mentions': [{'screen_na...",NaN,0,False,low,NaN,714960402149416960,...,NaN,NaN,0,False,"{'retweeted': False, 'text': 'The anti-America...","<a href=""http://twitter.com/download/iphone"" r...",RT @AlanLohner: The anti-American D.C. elites ...,1459294817851,False,"{'utc_offset': -18000, 'profile_image_url_http..."

In [19]:
# create an empty dictionary 
langs_count = {}

# extract the lang column from the dataframe
lang_col = df['lang']

dict_keys

now we will iterate over each entry in the column and put the output into the dictionary :

* if the language is added befpr in the dictionary then increase its count by one
* if the language hasn't been added befor then add it and set its count to 1

In [23]:
for entry in lang_col:
    if entry in langs_count.keys():
        langs_count[entry] +=1 
    else:
        langs_count[entry] = 1
        
print(langs_count)

{'en': 97, 'et': 1, 'und': 2}

now we can create a function doing the same functionality that takes the data frame, and the column name to count its entries as arguments and returns the desired values just by calling the function

By doing so we can get the advantage of:
* use the same function with multiple inputs just by calling the function in one line of code instead of writing it many times.
* we can create similar functions depending on the function we built just by making some modifications on it. 
* reusing functions built by others that meet our needs.

In [25]:
def count_entries (df,col_name):
    col = df [col_name]
    count_dict = {}
    
    for entry in col:
        if entry in col.keys():
            count_dict[entry] +=1 
        else:
            count_dict[entry] = 1
            
    return count_dict 

result = count_entries(df,'lang')
print(result)

{'en': 1, 'et': 1, 'und': 1}

#### we got the same output taking the advantage of reusing the function many times with various inputs.